*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
}

.container-0{
    background-color: #fff;
    width: 80%;
    margin: 50px auto;
    height: 70vh;
    z-index: 2;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
    border: none;
}

.conty-1{
    background-color: rgba(0, 0, 0, 0.89);
    padding: 20px;
    color: #fffffffe;
    height: 50vh;
   border-radius: 5px;
   margin-top: 60px;
   margin-left: 80px;
   z-index: 70;
   letter-spacing: 2px;
    
}

.conty-1 h1{
    font-weight: 500;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.conty-1 p{
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
}

.conty{
    padding: 40px;
}

.conty h1{
    font-weight: 500;
    padding: 10px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.conty p{
    padding: 5px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.conty-2{
    background-color: rgb(255, 255, 0);
    height: 70%;
    width: 240px;
    position: absolute;
    left: 74%;
}
.form-control{
    border-bottom: 1px solid gray !important;
    margin-bottom: 5px;
    outline: none;
    border: none;
   padding: 10px;
   letter-spacing: 2px;
   font-family: 'Poppins', sans-serif;
   transition: 1s ease-in;
   background-color: transparent;

}


.form-control:hover{
    transform: translateX(10px);
}

/* respnsive matter */

@media only screen and (max-width: 600px) {
    .container-0{
        background-color: #fff;
        width: 96%;
        margin: 50px auto;
        height: 100%;
        z-index: 2;
        display: block;
        border-radius: 5px;
        box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
        border: none;
    }
    
    .conty-1{
        background-color: rgba(0, 0, 0, 0.89);
        padding: 20px;
        color: #fffffffe;
        height: 50vh;
       border-radius: 5px;
       margin-top: 60px;
       margin-left: 80px;
       z-index: 70;
       letter-spacing: 2px;
       display: none;
        
    }
    
    .conty-1 h1{
        font-weight: 500;
        margin-bottom: 60px;
        font-family: 'Poppins', sans-serif;
    }
    
    .conty-1 p{
        margin-bottom: 35px;
        font-family: 'Poppins', sans-serif;
    }
    
    .conty{
        padding: 40px;
    }
    
    .conty h1{
        font-weight: 500;
        padding: 10px;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
    }
    
    .conty p{
        padding: 5px;
        letter-spacing: 1px;
        font-family: 'Poppins', sans-serif;
    }
    
    .conty-2{
        background-color: rgb(255, 255, 0);
        height: 70%;
        width: 240px;
        position: absolute;
        left: 74%;
        display: none;
    }
    
    .form-control{
      
       padding: 10px;
       letter-spacing: 2px;
       font-family: 'Poppins', sans-serif;
       transition: 1s ease-in;
    }
    
    .form-control:hover{
        transform: translateX(10px);
    }
}

@media only screen and (min-width: 600px) {

    .container-0{
        background-color: #fff;
        width: 96%;
        margin: 50px auto;
        height: 100%;
        z-index: 2;
        display: block;
        border-radius: 5px;
        box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
        border: none;
    }
    
    .conty-1{
        background-color: rgba(0, 0, 0, 0.89);
        padding: 20px;
        color: #fffffffe;
        height: 50vh;
       border-radius: 5px;
       margin-top: 60px;
       margin-left: 80px;
       z-index: 70;
       letter-spacing: 2px;
       display: none;
        
    }
    
    .conty-1 h1{
        font-weight: 500;
        margin-bottom: 60px;
        font-family: 'Poppins', sans-serif;
    }
    
    .conty-1 p{
        margin-bottom: 35px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
    
    .conty{
        padding: 40px;
    }
    
    .conty h1{
        font-weight: 500;
        padding: 10px;
        letter-spacing: 2px;
        font-family: 'Poppins', sans-serif;
    }
    
    .conty p{
        padding: 5px;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: 'Poppins', sans-serif;
    }
    
    .conty-2{
        background-color: rgb(255, 255, 0);
        height: 70%;
        width: 240px;
        position: absolute;
        left: 74%;
        display: none;
    }
    
    .form-control{
        border-bottom: 1px solid gray !important;
        margin-bottom: 5px;
        outline: none;
        border: none;
       padding: 10px;
       letter-spacing: 2px;
       font-family: 'Poppins', sans-serif;
       transition: 1s ease-in;
       background-color: transparent;
    
    }
    
    .form-control:hover{
        transform: translateX(10px);
    }
}

@media only screen and (min-width: 768px) {

.container-0{
    background-color: #fff;
    width: 80%;
    margin: 50px auto;
    height: 70vh;
    z-index: 2;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
    border: none;
}

.conty-1{
    background-color: rgba(0, 0, 0, 0.89);
    padding: 20px;
    color: #fffffffe;
    height: 50vh;
   border-radius: 5px;
   margin-top: 60px;
   margin-left: 80px;
   z-index: 70;
   letter-spacing: 2px;
    
}

.conty-1 h1{
    font-weight: 500;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.conty-1 p{
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
}

.conty{
    padding: 40px;
}

.conty h1{
    font-weight: 500;
    padding: 10px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.conty p{
    padding: 5px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.conty-2{
    background-color: rgb(255, 255, 0);
    height: 70%;
    width: 240px;
    position: absolute;
    left: 74%;
}

.form-control{
   padding: 10px;
   letter-spacing: 2px;
   font-family: 'Poppins', sans-serif;
   transition: 1s ease-in;
}

.form-control:hover{
    transform: translateX(10px);
}

}

@media only screen and (min-width: 992px) {

.container-0{
    background-color: #fff;
    width: 80%;
    margin: 50px auto;
    height: 70vh;
    z-index: 2;
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.1);
    border: none;
}

.conty-1{
    background-color: rgba(0, 0, 0, 0.89);
    padding: 20px;
    color: #fffffffe;
    height: 50vh;
   border-radius: 5px;
   margin-top: 60px;
   margin-left: 80px;
   z-index: 70;
   display: block;
   letter-spacing: 2px;
    
}

.conty-1 h1{
    font-weight: 500;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.conty-1 p{
    margin-bottom: 35px;
    font-family: 'Poppins', sans-serif;
}

.conty{
    padding: 40px;
}

.conty h1{
    font-weight: 500;
    padding: 10px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.conty p{
    padding: 5px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.conty-2{
    background-color: rgb(255, 255, 0);
    display: block;
    height: 70%;
    width: 240px;
    position: absolute;
    left: 74%;
}

.form-control{
    border-bottom: 1px solid gray !important;
    margin-bottom: 5px;
    outline: none;
    border: none;
   padding: 10px;
   letter-spacing: 2px;
   font-family: 'Poppins', sans-serif;
   transition: 1s ease-in;
   background-color: transparent;

}

input{
    height: 45px;
}

form .submit{
    background-color: rgba(0, 0, 0, 0.885);
    color: #fff;
    border-color: transparent;
    border-radius: 10px;
}

.form-control:hover{
    transform: translateX(10px);
}

}